.container_layout {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    /* background-color: blanchedalmond; */
}

@media only screen and (max-width: 600px) {
  .container_layout {
    width: 100%;
    max-width: 100%;
    padding: 0px 20px;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 1080px) {
  .container_layout {
    width: 100%;
    max-width: 100%;
    padding: 0px 20px;
    overflow-y: hidden;
  }
}
