.icon_insta {
    opacity: 0;
    pointer-events: none;
    /* filter: drop-shadow(-9px 6px 13px black); */
    filter: drop-shadow(2px 2px 1px black);
    position: absolute;
    left: 95px;
    bottom: 60px;
    transition: all .35s ease-in-out;
}

.insta_box:hover .icon_insta {
    opacity: 1;
    pointer-events: all;
    position: absolute;
    left: 95px;
    bottom: 100px;
    transition: all .35s ease-in-out;
}

