.breadCrumbs a::after {
    content: ">";
    margin: 0px 10px;
}

.breadCrumbs:last-child a::after {
    display: none;
}
.breadCrumbs:last-child a {
    cursor: auto;
    color: #d9d9d9
}
.breadCrumbs a {
    font-size: 15px;
    font-family: 'montserrat';
    font-weight: 500;
    color:#000

}
